$lightyellow: #fffde6;
$lightpurple: #faf2ff;

$grey: #777;
$lightgrey-light: #ddd;
$lightgrey: #ccc;
$mildgrey: #888;
$darkgrey: #666;

$primary: #5a0a88;
$primary-dark: #33074d;
$secondary: #ff5c73;

$border: #bfbfbf;