@use './globals' as *;
@use './text';

.star {
   color: $colors-lightgrey;
}

.star--sel {
   color: $colors-secondary
}

/*******************************************************************************
Recipe card
*******************************************************************************/
.recipe-cards {
   margin: 0 -10px;
}

.recipe-card-wrapper {
   float: left;
   width: 50%;
   // margin: -10px;
   // background-color: blue;
}

.recipe-card {
   background-color: white;
   border-radius: 3px;
   border: 1px solid #ddd;
   margin: 10px;
   padding: 20px;
   display: block;
   position: relative;
   transition: 0.2s ease;
}

.recipe-card:hover {
   transform: scale(1.03);
   border-color: $colors-primary;
}

.recipe-card_category {
   // letter-spacing: 1px;
   background-color: $colors-primary;
   color: white;
   display: inline-block;
   padding: 7px 9px;
   position: absolute;
   right: 0;
   top: 0;
   border-radius: 0 3px 0 3px;
}

.recipe-card_rating {
   // margin-top: 5px;
   color: $colors-lightgrey;
}

.recipe-card_date {
   margin-top: 4px;
   color: $colors-grey;
}


.recipe-card h2 {
   font-size: 20px;
   margin-top: 15px;
   font-weight: 500;
}
/*******************************************************************************
Recipe card
*******************************************************************************/



/*******************************************************************************
Recipe view
*******************************************************************************/
.recipe {
}

.recipe h1 {
   font-size: 30px;
   font-weight: 500;
   margin-top: 3px;
   margin-bottom: 20px
}

.recipe h6 {
   @extend .text--md;
   margin: 0;
   font-weight: 500;
}

.recipe_header {
   position: relative;

   // .recipe_btn:nth-child(1),
   // .recipe_btn:nth-child(2) {
   //    border: none
   // }
}

.recipe_btns {
   position: absolute;
   right: 0;
   top: 5px;
}

.recipe_iterations .recipe_btns {
   top: 1px;

   .btn {
      padding: 3px
   }
   .btn svg {
      font-size: 25px;
   }
}

.recipe_btn {
   display: inline-block;
   margin-left: 10px;
   padding: 10px
}

.recipe_rating {
   margin-top: 0;
   line-height: 0;
}

.recipe_group {
   margin: 55px 0
}

.recipe_group--close {
   margin: 8px 0
}

.recipe_label {
   margin: 10px 0 20px;
   border-bottom: 1px solid $colors-border;
   padding-bottom: 7px;
   @extend .text--light;
}

.recipe_iterations {
   background-color: $colors-primary-dark;
   border-radius: 4px;
   margin-bottom: 30px;
   padding: 7px;
   color: white;
   position: relative;
}

%recipe-text {
   font-size: 19px;
}

.recipe ol {
   // margin: 0
}

.recipe li ol {
   margin-top: 15px
}

.recipe .ingredient {
   @extend %recipe-text;
   margin: 10px 0;
   padding-left: 24px;
   position: relative;
}

.recipe .ingredient--same:before {
   content: '';
   position: absolute;
   padding: 3px;
   background-color: $colors-primary;
   left: 3px;
   top: 11px;
   border-radius: 3px
}

.recipe .ingredient .icon {
   position: absolute;
   left: -1px;
   top: 5px;
   font-size: 15px;
   color: white;
   line-height: 0;
   border-radius: 50px;
}

.recipe .ingredient--inc .icon {
   background-color: #23a323
}

.recipe .ingredient--new .icon {
   background-color: $colors-primary
}

.recipe .ingredient--dec .icon {
   background-color: $colors-secondary
}

.recipe h4 {
   @extend .text--md;
   margin-top: 35px;
}

.recipe li:first-child h4 {
   margin-top: 15px;
}

.recipe p {
   @extend %recipe-text;
}
/*******************************************************************************
Recipe view
*******************************************************************************/



@include use-tablet-large {

.recipe-card-wrapper {
   width: 100%;
}

}